{{ currentUser }}

h1 Admin

h2 Flat Icons

.icon-reference
	span.fui-triangle-up
	span.fui-triangle-up-small
	span.fui-triangle-right-large
	span.fui-triangle-left-large
	span.fui-triangle-down
	span.fui-info
	span.fui-alert
	span.fui-question
	span.fui-window
	span.fui-windows
	span.fui-arrow-right
	span.fui-arrow-left
	span.fui-loop
	span.fui-cmd
	span.fui-mic
	span.fui-triangle-down-small
	span.fui-check-inverted
	span.fui-heart
	span.fui-location
	span.fui-plus
	span.fui-check
	span.fui-cross
	span.fui-list
	span.fui-new
	span.fui-video
	span.fui-photo
	span.fui-volume
	span.fui-time
	span.fui-eye
	span.fui-chat
	span.fui-home
	span.fui-upload
	span.fui-search
	span.fui-user
	span.fui-mail
	span.fui-lock
	span.fui-power
	span.fui-star
	span.fui-calendar
	span.fui-gear
	span.fui-book
	span.fui-exit
	span.fui-trash
	span.fui-folder
	span.fui-bubble
	span.fui-cross-inverted
	span.fui-plus-inverted
	span.fui-export
	span.fui-radio-unchecked
	span.fui-radio-checked
	span.fui-checkbox-unchecked
	span.fui-checkbox-checked
	span.fui-flat
	span.fui-calendar-solid
	span.fui-star-2
	span.fui-credit-card
	span.fui-clip
	span.fui-link
	span.fui-pause
	span.fui-play
	span.fui-tag
	span.fui-document
	span.fui-image
	span.fui-facebook
	span.fui-youtube
	span.fui-vimeo
	span.fui-twitter
	span.fui-stumbleupon
	span.fui-spotify
	span.fui-skype
	span.fui-pinterest
	span.fui-path
	span.fui-myspace
	span.fui-linkedin
	span.fui-googleplus
	span.fui-dribbble
	span.fui-blogger
	span.fui-behance
	span.fui-list-thumbnailed
	span.fui-list-small-thumbnails
	span.fui-list-numbered
	span.fui-list-large-thumbnails
	span.fui-list-columned
	span.fui-list-bulleted


