.modal-header
	h3.modal-title Embed

.modal-body
	p You can embed a GoKibitz game onto a webpage, using the iframe and script below.
		= ' '
		a(href='http://codepen.io/neagle/pen/OPpXJz' target='_blank') Live Demo
	textarea.form-control(rows=3)
		| <iframe id="gokibitz-{{ id }}" src="http://gokibitz.com/kifu/{{ id }}" style="width: 100%; min-height: 500px; display: block; border: 10px solid snow;"></iframe>
		<script src="http://gokibitz.com/embed/{{ id }}"></script>

.modal-footer
	button.btn.btn-default(ng-click='cancel()') Done
