.jumbotron.hero
	img.pull-left(src='/images/goban_bubble.svg')
	h3 Kibitzers welcome!
	p
		:markdown
			GoKibitz makes it easy to have conversations about go games.

//-h2(ng-if='currentUser') Welcome, {{ currentUser.username }}

//-div(ng-if='isAuthorized(userRoles.admin)') You're an admin.
