.row
	.col-md-12
		h2 Kifu

		ul.list-group
			li.list-group-item(ng-repeat='item in kifu')
				span.badge(
					ng-if='item.comments.length > 0'
					tooltip='{{ item.comments.length }} comments'
				) {{ item.comments.length }}

				a(href='/kifu/{{ item.shortid }}')
					| {{ item.game.info.black }} vs. {{ item.game.info.white }} ({{ item.game.info.result }})
