footer.footer.container-fluid(ng-if='!iframed')
	.row
		.col-md-12
			.copyright.pull-left
				p
					span.symbol &copy;
					= ' '
					| 2015
					= ' '
					a(href='mailto:nate@nateeagle.com') Nate Eagle
					= ' '
					| &bull;
					= ' '
					a(href='http://twitter.com/gokibitz') @gokibitz

			.project.pull-right
				p
					a(href='https://github.com/neagle/gokibitz/issues/new?title=Feature%20Request') Feature Requests
					= ' '
					| &bull;
					= ' '
					a(href='https://github.com/neagle/gokibitz/issues/new?title=Bug') Bugs
					= ' '
					| &bull;
					= ' '
					a(href='https://github.com/neagle/gokibitz') Github
