doctype html
html(lang='en', ng-app='gokibitz')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='/css/app.css')
	body(ng-controller='ApplicationController')
		block content
		script(src='/js/app.js')
