doctype html
html(lang='en', ng-app='gokibitz' iframe-resizer ng-class='{ "is-iframed": $rootScope-iframed }')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(property='og:image', content='https://gokibitz.com#{og.image}')
		title(ng-bind='$root.pageTitle') GoKibitz: Move-by-move conversations about go games.
		link(rel='stylesheet', href='/css/app.css')
		style .ng-cloak { display:none; }
		script(src='/js/modernizr.js')
		include favicon

	body
		include navbar

		block header

		div#container
			block content

		include footer

		script(src='/js/app.js')
		include analytics
