doctype html
html(lang='en', ng-app='gokibitz')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title(ng-bind='$root.pageTitle') GoKibitz: Move-by-move commentary on go games.
		link(rel='stylesheet', href='/css/app.css')
		style .ng-cloak { display:none; }
		script(src='/js/modernizr.js')
		include favicon
		//script.
		//	function resize() {
		//		var height = document.getElementsByTagName('html')[0].scrollHeight;
		//		console.log('resize', height);
		//		window.parent.postMessage(['setHeight', height], '*');
		//	}

	body
		include navbar

		block header

		block content

		include footer

		script(src='/js/app.js')
		include analytics
