.row.comment-helptext
	//-.col-md-5
	.col-xs-12
		.help-block= 'You can use '
			a(href='http://daringfireball.net/projects/markdown/syntax' target='_blank') Markdown
			= ' for formatting.'

	//-.col-md-7
	.col-xs-12
		.help-block
			p <kbd>&lt;enter&gt;</kbd> to submit
			p <kbd>&lt;shift&gt; + &lt;enter&gt;</kbd> to add a return
