// Simple fade in and fade out
.fade-in-fade-out {
	&.ng-enter,
	&.ng-leave {
		transition: all 0.5s;
	}

	&.ng-leave.ng-leave-active,
	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter.ng-enter-active,
	&.ng-leave	{
		opacity: 1;
	}
}

/**** ng-show & ng-hide ****/
.debug {
	$width: 2px;
	// Hiding items go from this:
	&.ng-hide-add {
		border: $width solid blue;
	}
	// ...to this.
	&.ng-hide-add.ng-hide-add-active {
		border: $width solid red;
	}

	// Revealed items go from this:
	&.ng-hide-remove {
		border: $width solid orange;
	}
	// ...to this.
	&.ng-hide-remove.ng-hide-remove-active {
		border: $width solid yellow;
	}
}


.animate-fade {
	$speed: 0.1s;
	$ease: cubic-bezier(0.39, 0.575, 0.565, 1);
	$delay: $speed;

	&.ng-hide-add, &.ng-hide-remove	{
		transition: 0s linear all;
	}

	// Transition hiding items
  &.ng-hide-add-active {
		position: absolute;
    transition: $speed $ease all;
	}
	// Transition revealed items
	&.ng-hide-remove-active {
		transition: $speed $ease $delay all;
	}

	&.ng-hide {
	}

	// Hiding items go from this:
	&.ng-hide-add {
		opacity: 1;
	}
	// ...to this.
	&.ng-hide-add.ng-hide-add-active {
		opacity: 0;
	}

	// Revealed items go from this:
	&.ng-hide-remove {
		opacity: 0;
	}
	// ...to this.
	&.ng-hide-remove.ng-hide-remove-active {
		opacity: 1;
	}

}

@keyframes highlight {
	0% {
		background: {
			color: $flat-sunflower;
		}
	}
	100% {
		background: {
			color: transparent;
		}
	}
}

.highlight {
	animation: {
		name: highlight;
		duration: 3s;
	}
}
