	/*.loading {*/
		/*border: 10px solid red;*/
		/*transition: none;*/
	/*}*/
.comments {

	.panel-body {
		position: relative;

		&.loading {
			/*border: 10px solid blue;*/
			/*min-height: 100px;*/
			/*opacity: 0.3;*/
		}
	}

	.media-list {
	}

	.comment {

		/*background: {*/
			/*color: $flat-clouds;*/
		/*}*/
		word-break: break-word;

		.btn-group {
			opacity: 0;
			transition: opacity 0.2s;
		}
		&:hover {
			.btn-group {
				opacity: 1;
			}
		}

		.star {
			clear: left;
			line-height: 1.2;
			margin: {
				left: -15px;
			}
			text: {
				align: right;
			}
			width: 49px;

			.star-display {
				color: $flat-gray-2;
				display: inline-block;
				padding: 5px;
				position: relative;
				right: -5px;

				.wrapper {
				}

				.star-icon {
					transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
					transform-origin: 45% 50%;
				}

			}

			a.star-display {
				&.starred {
					color: $flat-sunflower;

					&:hover {
						.star-icon {
							//color: $flat-gray-2;
							transform: scale(.9, .9) rotateZ(-90deg);
						}
					}
				}

				&:not(.starred) {
					&:hover {
						.star-icon {
							color: $flat-sunflower;
							transform: scale(1.3, 1.3) rotateZ(90deg);
						}
					}
				}

			}
		}
	}

	.loading {
	}

	.animate {
		&.ng-enter {
			transition: all 0.5s;
			position: relative;
		}
		&.ng-leave {
			/*transition: all 10s;*/
			/*transition: all 0.5s;*/
		}

		&.ng-leave.ng-leave-active,
		&.ng-enter {
			opacity: 0;
		}

		&.ng-enter.ng-enter-active,
		&.ng-leave	{
			opacity: 1;
		}
	}
}

.navigate-comments {
	a {
		color: transparentize($flat-clouds, 0.5);
		cursor: pointer;

		&:hover {
		color: $flat-clouds;
		}

		&:first-child {
			margin-right: 20px;
		}
	}
}
