	/*.loading {*/
		/*border: 10px solid red;*/
		/*transition: none;*/
	/*}*/
.comments {

	.comment {
		.btn-group {
			opacity: 0;
			transition: opacity 0.2s;
		}
		&:hover {
			.btn-group {
				opacity: 1;
			}
		}
	}

	.wgo-move-link {
		cursor: pointer;
		@extend code;
	}

	.loading {
	}

	.animate {
		&.ng-enter,
		&.ng-leave {
			transition: all 0.5s;
		}

		&.ng-leave.ng-leave-active,
		&.ng-enter {
			opacity: 0;
		}

		&.ng-enter.ng-enter-active,
		&.ng-leave	{
			opacity: 1;
		}
	}
}
