	/*.loading {*/
		/*border: 10px solid red;*/
		/*transition: none;*/
	/*}*/
.comments {
	border: 2px dotted purple;

	.panel-body {
		position: relative;

		&.loading {
			/*border: 10px solid blue;*/
			/*min-height: 100px;*/
			/*opacity: 0.3;*/
		}
	}

	.media-list {
		border: 2px dashed orange;
		* {
			border: 3px solid green;
		}
	}

	.comment {

		/*background: {*/
			/*color: $flat-clouds;*/
		/*}*/
		border: 3px solid red;
		word-break: break-word;

		.btn-group {
			opacity: 0;
			transition: opacity 0.2s;
		}
		&:hover {
			.btn-group {
				opacity: 1;
			}
		}

		.star {
			clear: left;
			line-height: 1.2;
			margin: {
				left: -15px;
			}
			padding: {
				top: 5px;
			}
			text: {
				align: right;
			}
			width: 49px;

			a {
				color: $flat-gray-2;

				&.starred {
					color: $flat-sunflower;
				}

				.wrapper {
				}
			}
		}
	}

	.loading {
	}

	.animate {
		&.ng-enter {
			transition: all 0.5s;
			position: relative;
		}
		&.ng-leave {
			/*transition: all 10s;*/
			/*transition: all 0.5s;*/
		}

		&.ng-leave.ng-leave-active,
		&.ng-enter {
			background: red;
			opacity: 0;
		}

		&.ng-enter.ng-enter-active,
		&.ng-leave	{
			background: green;
			opacity: 1;
		}
	}
}

sgf-label {
	@extend code;
	background-color: #fff;
	color: $flat-pomegranate;
	cursor: help;
	transition: all 0.1s;

	&[sequence] {
		cursor: pointer;

		&.active {
			background-color: $flat-sunflower;
			color: mix(white, $flat-sunflower, 80%);
		}
	}
}
