.hero {
	/*background: {*/
		/*color: $orange;*/
	/*}*/
	/*position: relative;*/

	/*h1, h2, h3, h4, h5, h6 {*/
		/*color: lighten($sun-flower, 20%);*/
	/*}*/

	/*p {*/
		/*color: lighten($sun-flower, 40%);*/
	/*}*/

	img {
		margin: {
			top: -60px;
		}
		padding: {
			right: 30px;
		}
	}
}
