.panel {
	background: {
		color: $flat-clouds;
	}
	border: 0;
	box-shadow: none;
	opacity: 1;

	&.default {
	}

	.panel-heading {
		background: {
			color: $brand-primary;
		}
		border: 0;
		color: transparentize($flat-clouds, 0.5);
		font: {
			//family: $headings-font-family;
			size: 18px;
			weight: bold;
		}
		/*letter-spacing: 1px;*/
		/*text-transform: uppercase;*/
		[class^="fui-"] {
			margin: {
				right: 6px;
			}
		}
	}

}
