sgf-label {
	@extend code;
	background-color: #fff;
	color: $flat-pomegranate;
	cursor: help;
	transition: all 0.1s;

	&[sequence] {
		cursor: pointer;

		&.active {
			background-color: $flat-sunflower;
			color: mix(white, $flat-sunflower, 80%);
		}
	}
}

