/**, *:before, *:after {*/
	/*// http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
	/*box-sizing: border-box;*/
/*}*/

body {
	// Add space for the fixed navbar
}

time {
	color: $flat-silver;
	/*font: {*/
		/*variant: small-caps;*/
	/*}*/
}

html.no-touch .only-touch {
	display: none;
}

html.touch .only-no-touch {
	display: none;
}

a[ng-click], .clickable {
	cursor: pointer;
}
