// Layout Rules
// ============
// CSS, by its very nature, is used to lay elements out on the page. However,
// there is a distinction between layouts dictating the major and minor
// components of a page. The minor components—such as a callout, or login form,
// or a navigation item—sit within the scope of major components such as a
// header or footer. I refer to the minor components as Modules and will dive
// into those in the next section. The major components are referred to as
// Layout styles.

// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements that
// are common across all components of the page and use class selectors where
// appropriate.
//
// http://smacss.com/book/type-layout

.site-name {
	a {
		color: hsla(40, 100%, 50%, 1);
		text-decoration: none;

		b {
			color: hsla(20, 100%, 50%, 1);
		}
	}
}
